

.quadmenu-text:hover {
    color: #d60059 !important;
}
.quadmenu-text {
    color: #c0346e !important;
}

.quadmenu-item-content {
    color: #d60059 !important;
}

.quadmenu-item-content:hover {
    color: #d60059 !important;
}
.elementor-heading-title.elementor-size-default {
    color: #d60059 !important;
}

    