.elementor-4707 .elementor-element.elementor-element-1b8a969 {
    margin-top: 120px;
    margin-bottom: 20px;
}

.elementor-widget-heading .elementor-heading-title {
    color: var(--e-global-color-primary);
}

.elementor-4707 .elementor-element.elementor-element-ca5f650 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.elementor-widget-text-editor {
    color: var(--e-global-color-text);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var(--e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}