.elementor-widget-heading .elementor-heading-title {
    color: var(--e-global-color-primary);
}

.elementor-5185 .elementor-element.elementor-element-2a5f65e {
    text-align: justify;
}

.elementor-5185 .elementor-element.elementor-element-dbd308b .elementor-wrapper {
    --video-aspect-ratio: 1.77777;
}