.elementor-3843 .elementor-element.elementor-element-17109b78 {
    margin-top: 140px;
    margin-bottom: 0px;
}

.elementor-3843 .elementor-element.elementor-element-28376572>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-widget-heading .elementor-heading-title {
    color: var(--e-global-color-primary);
}

.elementor-3843 .elementor-element.elementor-element-618551f>.elementor-widget-container {
    margin: 0px 0px 50px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3843 .elementor-element.elementor-element-618551f {
    text-align: center;
}

.elementor-3843 .elementor-element.elementor-element-618551f .elementor-heading-title {
    font-size: 45px;
    font-weight: 600;
    color: #161E21;
}

.elementor-3843 .elementor-element.elementor-element-4777acd0>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3843 .elementor-element.elementor-element-4777acd0 {
    margin-top: 0px;
    margin-bottom: 40px;
}

.elementor-3843 .elementor-element.elementor-element-5bc42973>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-3843 .elementor-element.elementor-element-d972275 .eael-contact-form-7 .wpcf7-not-valid-tip {
    display: block !important;
}

.elementor-3843 .elementor-element.elementor-element-d972275 .eael-contact-form-7 .wpcf7-validation-errors {
    display: block !important;
}

.elementor-3843 .elementor-element.elementor-element-d972275 .eael-contact-form-7-wrapper {
    text-align: default;
}

.elementor-3843 .elementor-element.elementor-element-d972275 .eael-contact-form-7 .wpcf7-form p:not(:last-of-type) .wpcf7-form-control-wrap {
    margin-bottom: 0px;
}

.elementor-3843 .elementor-element.elementor-element-4692616b>.elementor-element-populated {
    padding: 0px 0px 0px 30px;
}

.elementor-3843 .elementor-element.elementor-element-1da7daf6 .elementor-heading-title {
    font-size: 25px;
    font-weight: 500;
    color: #00BED6;
}

.elementor-widget-text-editor {
    color: var(--e-global-color-text);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var(--e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-3843 .elementor-element.elementor-element-418dfca3>.elementor-widget-container {
    margin: 0px 0px 50px 0px;
}

.elementor-3843 .elementor-element.elementor-element-623b570>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-3843 .elementor-element.elementor-element-7697e6d iframe {
    height: 407px;
}

@media(max-width:767px) {
    .elementor-3843 .elementor-element.elementor-element-4692616b>.elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }
}