.elementor-629 .elementor-element.elementor-element-1eb28b9>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-629 .elementor-element.elementor-element-1670fc3.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-629 .elementor-element.elementor-element-1670fc3>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-629 .elementor-element.elementor-element-1670fc3>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-widget-image .widget-image-caption {
    color: var(--e-global-color-text);
}

.elementor-629 .elementor-element.elementor-element-3f2327f {
    width: var(--container-widget-width, 96.424%);
    max-width: 96.424%;
    --container-widget-width: 96.424%;
    --container-widget-flex-grow: 0;
}

.elementor-629 .elementor-element.elementor-element-3f2327f img {
    width: 100%;
    max-width: 100%;
}

.elementor-629 .elementor-element.elementor-element-558efb1.elementor-column>.elementor-widget-wrap {
    justify-content: flex-start;
}

.elementor-629 .elementor-element.elementor-element-558efb1>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-629 .elementor-element.elementor-element-558efb1>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-widget-heading .elementor-heading-title {
    color: var(--e-global-color-primary);
}

.elementor-629 .elementor-element.elementor-element-91a7a26 {
    width: var(--container-widget-width, 90%);
    max-width: 90%;
    --container-widget-width: 90%;
    --container-widget-flex-grow: 0;
}

.elementor-629 .elementor-element.elementor-element-91a7a26 .elementor-heading-title {
    font-size: 54px;
    font-weight: 600;
    line-height: 65px;
    color: #0A2240;
}

.elementor-629 .elementor-element.elementor-element-ea1addd>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-629 .elementor-element.elementor-element-ea1addd:not(.elementor-motion-effects-element-type-background),
.elementor-629 .elementor-element.elementor-element-ea1addd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #151410;
}

.elementor-629 .elementor-element.elementor-element-ea1addd {
    overflow: hidden;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-629 .elementor-element.elementor-element-ea1addd>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-629 .elementor-element.elementor-element-368716a>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-629 .elementor-element.elementor-element-368716a>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0% 10% 0% 10%;
}

.elementor-widget-text-editor {
    color: var(--e-global-color-text);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var(--e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-629 .elementor-element.elementor-element-9ceb4a3 {
    width: var(--container-widget-width, 80%);
    max-width: 80%;
    --container-widget-width: 80%;
    --container-widget-flex-grow: 0;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.elementor-629 .elementor-element.elementor-element-9ceb4a3>.elementor-widget-container {
    margin: 15px 0px 15px 0px;
}

.elementor-629 .elementor-element.elementor-element-93addc5>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-629 .elementor-element.elementor-element-93addc5>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-629 .elementor-element.elementor-element-c91fe56 {
    text-align: right;
}

.elementor-629 .elementor-element.elementor-element-c91fe56 img {
    width: 100%;
    max-width: 100%;
}

.elementor-629 .elementor-element.elementor-element-f71bc17>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-629 .elementor-element.elementor-element-f71bc17:not(.elementor-motion-effects-element-type-background),
.elementor-629 .elementor-element.elementor-element-f71bc17>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-629 .elementor-element.elementor-element-f71bc17 {
    overflow: hidden;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-629 .elementor-element.elementor-element-f71bc17>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-629 .elementor-element.elementor-element-5055e30>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-629 .elementor-element.elementor-element-5055e30>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-629 .elementor-element.elementor-element-87d7b5c {
    text-align: right;
}

.elementor-629 .elementor-element.elementor-element-87d7b5c img {
    width: 100%;
    max-width: 100%;
}

.elementor-629 .elementor-element.elementor-element-58f493c>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-629 .elementor-element.elementor-element-58f493c>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0% 10% 0% 10%;
}

.elementor-629 .elementor-element.elementor-element-e236169 {
    width: var(--container-widget-width, 60%);
    max-width: 60%;
    --container-widget-width: 60%;
    --container-widget-flex-grow: 0;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.elementor-629 .elementor-element.elementor-element-e236169>.elementor-widget-container {
    margin: 15px 0px 15px 0px;
}

.elementor-629 .elementor-element.elementor-element-4efbb58b>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-629 .elementor-element.elementor-element-4efbb58b:not(.elementor-motion-effects-element-type-background),
.elementor-629 .elementor-element.elementor-element-4efbb58b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-629 .elementor-element.elementor-element-4efbb58b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 40px 0px 40px 0px;
}

.elementor-629 .elementor-element.elementor-element-4efbb58b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-629 .elementor-element.elementor-element-1da05bb9.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-629 .elementor-element.elementor-element-1da05bb9.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-629 .elementor-element.elementor-element-1da05bb9.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-widget-icon-box.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-widget-icon-box.elementor-view-framed .elementor-icon,
.elementor-widget-icon-box.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-widget-icon-box .elementor-icon-box-title {
    color: var(--e-global-color-primary);
}

.elementor-widget-icon-box .elementor-icon-box-description {
    color: var(--e-global-color-text);
}

.elementor-629 .elementor-element.elementor-element-31848e7f {
    width: var(--container-widget-width, 65%);
    max-width: 65%;
    --container-widget-width: 65%;
    --container-widget-flex-grow: 0;
}

.elementor-629 .elementor-element.elementor-element-31848e7f .elementor-icon-box-title {
    margin-bottom: 15px;
    color: #0A2240;
}

.elementor-629 .elementor-element.elementor-element-31848e7f .elementor-icon-box-title,
.elementor-629 .elementor-element.elementor-element-31848e7f .elementor-icon-box-title a {
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
}

.elementor-629 .elementor-element.elementor-element-31848e7f .elementor-icon-box-description {
    color: #575756;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.elementor-widget-button .elementor-button {
    background-color: var(--e-global-color-accent);
}

.elementor-629 .elementor-element.elementor-element-753b2bf3 .elementor-button {
    background-color: #d60059;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 25px;
    fill: #FFFFFF;
    color: #FFFFFF;
    border-radius: 90px 90px 90px 90px;
    padding: 5px 20px 5px 20px;
}

.elementor-629 .elementor-element.elementor-element-753b2bf3 .elementor-button:hover,
.elementor-629 .elementor-element.elementor-element-753b2bf3 .elementor-button:focus {
    background-color: #0A2240;
    color: #FFFFFF;
}

.elementor-629 .elementor-element.elementor-element-753b2bf3>.elementor-widget-container {
    margin: 020px 0px 20px 0px;
}

.elementor-629 .elementor-element.elementor-element-753b2bf3 .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-629 .elementor-element.elementor-element-753b2bf3 .elementor-button .elementor-button-content-wrapper {
    gap: 15px;
}

.elementor-629 .elementor-element.elementor-element-753b2bf3 .elementor-button:hover svg,
.elementor-629 .elementor-element.elementor-element-753b2bf3 .elementor-button:focus svg {
    fill: #FFFFFF;
}

@media(max-width:1024px) {
    .elementor-629 .elementor-element.elementor-element-91a7a26 {
        --container-widget-width: 95%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 95%);
        max-width: 95%;
    }

    .elementor-629 .elementor-element.elementor-element-91a7a26 .elementor-heading-title {
        font-size: 35px;
        line-height: 40px;
    }

    .elementor-629 .elementor-element.elementor-element-9ceb4a3 {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 100%);
        max-width: 100%;
    }

    .elementor-629 .elementor-element.elementor-element-e236169 {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 100%);
        max-width: 100%;
    }

    .elementor-629 .elementor-element.elementor-element-31848e7f {
        --container-widget-width: 85%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 85%);
        max-width: 85%;
    }
}

@media(min-width:768px) {
    .elementor-629 .elementor-element.elementor-element-1670fc3 {
        width: 40%;
    }

    .elementor-629 .elementor-element.elementor-element-558efb1 {
        width: 60%;
    }

    .elementor-629 .elementor-element.elementor-element-368716a {
        width: 60%;
    }

    .elementor-629 .elementor-element.elementor-element-93addc5 {
        width: 40%;
    }

    .elementor-629 .elementor-element.elementor-element-5055e30 {
        width: 35%;
    }

    .elementor-629 .elementor-element.elementor-element-58f493c {
        width: 65%;
    }
}

@media(max-width:767px) {
    .elementor-629 .elementor-element.elementor-element-91a7a26>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 15px 0px 15px 0px;
    }

    .elementor-629 .elementor-element.elementor-element-91a7a26 {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 100%);
        max-width: 100%;
        text-align: center;
    }

    .elementor-629 .elementor-element.elementor-element-91a7a26 .elementor-heading-title {
        font-size: 28px;
        line-height: 1em;
    }

    .elementor-629 .elementor-element.elementor-element-368716a>.elementor-element-populated {
        padding: 20px 15px 20px 15px;
    }

    .elementor-629 .elementor-element.elementor-element-9ceb4a3>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-629 .elementor-element.elementor-element-9ceb4a3 {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 100%);
        max-width: 100%;
    }

    .elementor-629 .elementor-element.elementor-element-58f493c>.elementor-element-populated {
        padding: 15px 15px 15px 15px;
    }

    .elementor-629 .elementor-element.elementor-element-e236169>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-629 .elementor-element.elementor-element-e236169 {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 100%);
        max-width: 100%;
    }

    .elementor-629 .elementor-element.elementor-element-31848e7f {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 100%);
        max-width: 100%;
    }

    .elementor-629 .elementor-element.elementor-element-31848e7f .elementor-icon-box-title,
    .elementor-629 .elementor-element.elementor-element-31848e7f .elementor-icon-box-title a {
        font-size: 18px;
        line-height: 24px;
    }

    .elementor-629 .elementor-element.elementor-element-31848e7f .elementor-icon-box-description {
        font-size: 15px;
        line-height: 20px;
    }

    .elementor-629 .elementor-element.elementor-element-753b2bf3 .elementor-button {
        font-size: 17px;
        line-height: 19px;
    }
}